html, body{
    margin: 0;
}

            /* HEADER */

header{
    color: white;
    position: relative;
    background-image: url("../img/bkg-index2.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 43em;
    text-align: center;
    overflow: hidden;
}

img{
    margin-top: 13em;
    margin-bottom: 1em;
    width: 50em;
    overflow: hidden;
    background-size: cover;
}

            /* FOOTER */

footer{
    width: 100%;
    height: 11em;
    background-color: brown;
    text-align: center;
    margin: 0 auto;
}

h1{
    padding: 1.5em;
    color: white;
    font-size: 2.5em;
    font-family: 'Bree Serif', serif;

}


.linha{
    width: 100%;
    height: 3em;
    background-color: brown;
}

            /* BOTÃO CENTRAL */

.btn{
	border-radius: 50px;
	color: brown;
    height: auto;
	font-size: 1.5em;
	font-weight: bold;
    text-transform: uppercase;
    border-color: brown;
    background-color: white;
    justify-content: center;
    border-width: 0.2em;

}

.btn:hover{
	background-color: brown;
    color: white;
    border-color:brown;
    font-size: 2.2vw;
}




